

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  html{
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-color: #fdfeff;
    overflow: hidden;
  }
}


@layer components{

.inputbox{
  @apply w-full text-sm bg-transparent border-2 px-5 py-3 rounded mb-4

}
.btn{
  @apply w-full text-sm bg-primary text-white rounded p-2 my-1 hover:bg-blue-600 dark:bg-blue-400 dark:hover:bg-blue-500;
}

.icon-btn{
  @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
}



.input-label{
  @apply text-xs text-black dark:text-white
}
}